{% extends 'layout.html' %}

{% block body %}

{% if role == "BASIC" %}
<div>
    <h2>My registrations</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created time</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{{url_for( 'project_index', project_id=project.id )}}">
                        {{ project.name }}
                    </a>
                </td>
                <td>
                    {{ project.date_created.date() }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% elif role == "MASTER" %}
<div>
    <h2>My Projects</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created time</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{{ url_for( 'project_index', project_id=project.id, role='MASTER') }}">
                        {{ project.name }}
                    </a>
                </td>
                <td>
                    {{ project.date_created.date() }}
                </td>
                <td>
                    <a href=" {{ url_for('project_data', project_id=project.id) }} ">
                        Data
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeProjectModal"
                        style="margin-bottom: 10px;">
                        Delete
                    </button>

                    <div class="modal fade" id="removeProjectModal" tabindex="-1" role="dialog"
                        aria-labelledby="removeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeModalLabel">Attention</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete project [ {{ project.name }} ]? Project cannot be retrieved
                                    after deletion.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form method="POST"
                                        action="{{ url_for('project_deletion', project_id=project.id) }} ">
                                        <input class="btn btn-danger" type="submit" value="Delete" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}


{% endblock body %}