{% extends 'layout.html' %}

{% block body %}

{% if role == "BASIC" %}
<div>
    <h2>My registrations</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created time</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{{url_for( 'project_index', project_id=project.id )}}">
                        {{ project.name }} 
                    </a>
                </td>
                <td>
                    {{ project.date_created.date() }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% elif role == "MASTER" %}
<div>
    <h2>My Projects</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created time</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{{ url_for( 'project_index', project_id=project.id, role='MASTER') }}">
                        {{ project.name }}
                    </a>
                </td>
                <td>
                    {{ project.date_created.date() }}
                </td>
                <td>
                    <a href=" {{ url_for('project_data', project_id=project.id) }} ">
                        Data
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}


{% endblock body %}