{% extends 'layout.html' %}


{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">

        {% for error in form.name.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Name {{ error[5:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% for error in form.description.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Description {{ error[5:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <form method="POST" action="{{ url_for('projects_create')}} ">
            <h1 class="h3 mb-3 font-weight-normal">Create a project</h1>
            <div>
                {{form.name.label}} 
                {{ form.name(class="form-control", placeholder="5-144 characters") }}
            </div>

            <div>
                {{form.description.label(style="margin-top: 20px;")}} 
                {{ form.description(class="form-control", placeholder="5-1000 characters") }}
            </div>

            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" type="submit">
                Create project
            </button>
        </form>

    </div>
</div>
{% endblock body %}