{% extends 'layout.html' %}

{% block body %}

<h2>Projects</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created time</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>
                <a href="{{url_for( 'project_index', project_id=project.id )}}">
                    {{ project.name }} 
                </a>
            </td>
            <td>
                {{ project.date_created.date() }}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock body %}