{% extends 'layout.html' %}

{% block body %}

<h2>{{ project.name }} </h2>

<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Project name</th>
            <td> {{ project.name }} </td>
            {% if authorized %}
            <td>
                <form method="POST" action=" {{ url_for('project_modifiy_name', project_id=project.id) }} ">
                    <input type="text" name="set_project_name" placeholder="Reset name, 5-144 characters" />
                    <input class="btn btn-success btn-sm" type="submit" value="Set" />
                </form>
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        <tr>
            <th scope="row">Project master</th>
            <td> {{ creator.name }} </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ project.description }}</td>
            {% if authorized %}
            <td>
                <form method="POST" action=" {{ url_for('project_modifiy_description', project_id=project.id) }} ">
                    <input type="text" name="set_project_description"
                        placeholder="Reset description, 5-1000 characters" />
                    <input class="btn btn-success btn-sm" type="submit" value="Set" />
                </form>
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        <tr>
            <th scope="row">Tasks</th>
            <td>
                <a href="{{ url_for('tasks_index', project_id=project.id) }} ">view</a>
                {% if notRegisteredError %}
                <span class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ notRegisteredError }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
                {% endif %}
            </td>
            <td></td>
        </tr>

        {% if role == 'MASTER' %}
        <tr>
            <th scope="row">Data</th>
            <td>
                <a href="{{ url_for('project_data', project_id=project.id) }}">
                    details
                </a>
            </td>
            <td></td>
            {% else %}
        <tr>
            <th scope="row">Data</th>
            <td>
                <a href="{{ url_for('my_project_data', project_id=project.id) }}">
                    details
                </a>
            </td>
            <td></td>
        </tr>
        {% endif %}

    </tbody>
</table>

{% if canRegister and role == 'BASIC' %}
<form method="POST" action="{{ url_for('project_registration', project_id=project.id) }}">
    <input class="btn btn-primary" type="submit" value="Register" />
</form>
{% endif %}

{% if authorized and role == 'MASTER' %}
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeProjectModal"
    style="margin-bottom: 10px;">
    Delete project
</button>

<div class="modal fade" id="removeProjectModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete project [ {{ project.name }} ]? Project cannot be retrieved
                after deletion.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST" action="{{ url_for('project_deletion', project_id=project.id) }} ">
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock body %}