{% extends 'layout.html' %}

{% block body %}

<h2>{{ project.name }} </h2>
<i>Created by {{ creator.name }} </i>

<div>

    <h3>Description</h3>
    <div>
        {{ project.description }}
    </div>

    {% if canRegister %}
    <div>
        <form method="POST" action="{{ url_for('project_registration', project_id=project.id) }}">
            <input type="submit" value="Register" />
        </form>
    </div>
    {% endif %}

</div>

<div>
    <h3>Tasks</h3>
    <a href="{{ url_for('tasks_index', project_id=project.id) }} ">Tasks</a>
    
    {% if error %}
    <div>
        {{ error }}
    </div>
    {% endif %}
</div>


{% endblock body %}