{% extends 'layout.html' %}


{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        
        <form method="POST" action="{{ url_for('auth_login') }} ">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div>
                {{ form.username(type="username", class="form-control", placeholder="Username") }}
            </div>
            <div>
                {{ form.password(type="password", class="form-control", style="margin-top: 20px;", placeholder="Password") }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" type="submit">Sign in</button>     
        </form>

    </div>
</div>
{% endblock body %}