{% extends 'layout.html' %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

        {% for error in form.name.errors or form.username.errors or form.password.errors %}
        <div class="alert alert-danger" role="alert">
            All fields {{ error[5:] }}
        </div>
        {% endfor %}

        
        <form method="POST" action="{{ url_for('auth_signup') }} ">
            <h1 class="h3 mb-3 font-weight-normal">Sign up a new account</h1>
            <div>
                {{form.name.label}} {{ form.name(class="form-control") }}
            </div>
            <div>
                {{ form.username.label(style="margin-top: 20px;") }} {{ form.username(class="form-control") }}
            </div>
            <div>
                {{form.password.label(style="margin-top: 20px;")}} {{ form.password(type="password", class="form-control") }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" type="submit">
                Create
            </button>
                    
        </form>

    </div>
</div>
{% endblock body %}