{% extends 'layout.html' %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">

        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% for error in form.name.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Name {{ error[5:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% for error in form.username.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Username {{ error[5:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% for error in form.password.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Password {{ error[5:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}


        {% if role == "BASIC" %}
        <form method="POST" action="{{ url_for('auth_signup_basic') }} ">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up A New Account</h1>
            <div>
                {{form.name.label}} {{ form.name(class="form-control") }}
            </div>
            <div>
                {{ form.username.label(style="margin-top: 20px;") }} {{ form.username(class="form-control") }}
            </div>
            <div>
                {{form.password.label(style="margin-top: 20px;")}}
                {{ form.password(type="password", class="form-control") }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" type="submit">
                Create
            </button>
        </form>

        {% elif role == "MASTER" %}
        <form method="POST" action="{{ url_for('auth_signup_master') }} ">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up As A Master</h1>
            <div>
                {{form.name.label}} {{ form.name(class="form-control") }}
            </div>
            <div>
                {{ form.username.label(style="margin-top: 20px;") }} {{ form.username(class="form-control") }}
            </div>
            <div>
                {{form.password.label(style="margin-top: 20px;")}}
                {{ form.password(type="password", class="form-control") }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" type="submit">
                Create
            </button>
        </form>
        {% endif %}

    </div>
</div>
{% endblock body %}