{% extends 'layout.html' %}

{% block body %}

<form method='POST' action="{{ url_for('tasks_create')}}">
    <div>
        Name: <input type='text' name='name' />
    </div>

    <div>
        Date: <input type='date' name='date' />
    </div>

    <div>
        Content: <input type='text' name='content' />
    </div>

    <div>
        Estimated time: <input type='number' step="0.1" name='estimatedTime' /> hours
    </div>
    
    <div>
        <input type="submit" value='Add a new task' />
    </div>

    
</form>

{% endblock body %}