{% extends 'layout.html' %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">

        {% for error in form.name.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Name {{ error[5:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% for error in form.content.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Content {{ error[5:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% for error in form.estimatedTime.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Estimated time {{ error[6:] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <form method="POST" action="{{ url_for('tasks_create', project_id=project_id) }}">
            <h1 class="h3 mb-3 font-weight-normal">Create a task</h1>
            
            <div>
                {{form.name.label}} {{ form.name(class="form-control") }}
            </div>

            <div>
                {{form.content.label(style="margin-top: 20px;")}} {{ form.content(class="form-control") }}
            </div>

            <div>
                {{form.estimatedTime.label(style="margin-top: 20px;") }} (in hours) {{ form.estimatedTime(class="form-control") }}
            </div>

            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px;" type="submit">
                Create
            </button>
        </form>

    </div>
</div>
{% endblock body %}
