{% extends 'layout.html' %}

{% block body %}

<h2>Create a new task</h2>

<form method='POST' action="{{ url_for('tasks_create', project_id=project_id) }}">

    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                <span>*</span>
                {{ form.name }}
            </td>
            <td>
                {% for error in form.name.errors %}

                <li>{{ error }} </li>

                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>
                {{ form.content.label }}
            </td>
            <td>
                <span>*</span>
                {{ form.content }}
            </td>
            <td>
                {% for error in form.content.errors %}

                <li>{{ error }} </li>

                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>
                {{ form.estimatedTime.label }}
            </td>
            <td>
                <span>*</span>
                {{ form.estimatedTime }} hours
            </td>
            <td>
                {% for error in form.estimatedTime.errors %}

                <li>{{ error }} </li>

                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>
                {{ form.status.label }}
            </td>
            <td>
                {{ form.status }}
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Add a new task" />
            </td>
        </tr>
    </table>

</form>

{% endblock body %}