{% extends 'layout.html' %}

{% block body %}
<h2>Tasks in <i>{{ project.name }} </i></h2>


{% if role == 'BASIC' %}
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 10px;">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a type="button" class="btn btn-primary" href="{{ url_for('tasks_form', project_id=project.id) }} ">
            Create a new task
        </a>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <a type="button" class="btn btn-primary" href=" {{ url_for('tasks_data_of_participart', project_id=project.id, account_id=account_id) }} ">
            My tasks
        </a>
    </div>
</div>
{% endif %}


<table class="table table-striped">
    <tbody>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Task details</th>
            </tr>

        </thead>

        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>
                <a href=" {{ url_for('task_index', project_id=project.id, task_id=task.id) }} ">
                    view
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock body %}