{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <h3>Project Data Report</h3>

    <table class="table" style="margin-top: 30px;">
        <tbody>
            <tr>
                <th scope="row">Project</th>
                <td> {{ project.name }} </td>
            </tr>
            <tr>
                <th scope="row">Time report in total</th>
                <td>
                    Estimated time: {{timeData[0].estimated}} h
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    Actual used time: {{timeData[0].actual}} h
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="container">
    <h3>Time report for a week</h3>
    <form method="POST" style="margin-top: 20px; margin-bottom: 20px;"
        action="{{ url_for('project_data', project_id=project.id) }} ">

        <table>
            <tr>
                <td>
                    {{form.fromDate.label}}:
                </td>
                <td>
                    {{ form.fromDate(placeholder="yyyy-mm-dd") }}
                </td>
                <td>
                    <button class="btn btn-lg btn-primary btn-sm" type="submit">
                        Choose
                    </button>
                </td>
            </tr>
        </table>

    </form>

    {% if timeWeek %}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Period</th>
                <td> {{ fromDate }} ~ {{ toDate }} </td>
            </tr>
            <tr>
                <th scope="row">Estimated time</th>
                <td> {{ timeWeek[0].estimated }} h </td>
            </tr>
            <tr>
                <th scope="row">Actual used time</th>
                <td>
                    {{ timeWeek[0].actual }} h
                </td>
            </tr>

        </tbody>
    </table>
    {% endif %}
</div>

<div class="container">
    <h3>Data report </h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Project participants</th>
                <th scope="col">Tasks in total</th>
                <th scope="col">Tasks completed</th>
                <th scope="col">Tasks uncompleted</th>
                <th scope="col">Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for d in data|sort(attribute='total', reverse=True) %}
            <tr>
                <td> {{ d.name }} </td>
                <td> {{ d.total }} </td>
                <td> {{ d.com }} </td>
                <td> {{ d.uncom }} </td>
                <td>
                    <a
                        href=" {{ url_for('tasks_data_of_participant', project_id=project.id, account_id=d.accountId) }} ">
                        view
                    </a>
                </td>
                <td>
                    <form method="POST"
                        action="{{ url_for('remove_participant_from_project', project_id=project.id, account_id=d.accountId) }} ">
                        <input class="btn btn-danger" type="submit" value="Remove" />
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock body %}