{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <h3>Project Data Report</h3>

    <table class="table" style="margin-top: 30px;">
        <tbody>
            <tr>
                <th scope="row">Project</th>
                <td> {{ project.name }} </td>
            </tr>
            <tr>
                <th scope="row">Time report in total</th>
                <td>
                    Estimated time: {{myTimeData[0].estimated}} h
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                    Actual used time: {{myTimeData[0].actual}} h
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="container">
    <h3>Time report for a week</h3>
    <form method="POST" style="margin-top: 20px; margin-bottom: 20px;"
        action="{{ url_for('my_project_data', project_id=project.id) }} ">

        <table>
            <tr>
                <td>
                    {{form.fromDate.label}}:
                </td>
                <td>
                    {{ form.fromDate(placeholder="yyyy-mm-dd") }}
                </td>
                <td>
                    <button class="btn btn-lg btn-primary btn-sm" type="submit">
                        Choose
                    </button>
                </td>
            </tr>
        </table>

    </form>

    {% if myTimeWeek %}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Period</th>
                <td> {{ fromDate }} ~ {{ toDate }} </td>
            </tr>
            <tr>
                <th scope="row">Estimated time</th>
                <td> {{ myTimeWeek[0].estimated }} h </td>
            </tr>
            <tr>
                <th scope="row">Actual used time</th>
                <td>
                    {{ myTimeWeek[0].actual }} h
                </td>
            </tr>

        </tbody>
    </table>
    {% endif %}
</div>

{% endblock body %}